footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

footer h2 {
  text-align: center;
  font-size: clamp(23px, 4vw, 30px);
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}

#contatos img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

#contatos img:hover {
  transform: scale(1.1);
}

footer p {
  text-align: center;
  font-size: 8px;
  color: rgb(158, 158, 158);
  padding-bottom: 12px;
}

#logo-whats img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  background: transparent;
}

#logo-whats img:hover {
  transform: scale(1.1);
}

.legenda {
  font-size: 15px;
  padding-top: 10px;
  }

  #contatos a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media (min-width: 769px) {

    #logo-whats img {
    width: 50px;
    height: 50px;

    bottom: 50px;
    right: 50px;
  }

  footer ul{
    padding: 20px 0 60px 0;
    gap: 50px;
  }

}

@media (min-width: 1025px) {

  #logo-whats img {
    width: 60px;
    height: 60px;

    bottom: 150px;
    right: 150px;
  }

  .legenda {
  opacity: 0;
  padding-top: 10px;
  transition: 0.3s ease;
  }

  a:hover + .legenda {
    opacity: 1;
  }

}

