footer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

footer h2 {
  text-align: center;
}

footer ul {
  list-style: none;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: azure;
}

footer p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 8px;
  color: rgb(158, 158, 158);
  padding-bottom: 8px;
}