header {
  margin: 20px;
}

#logo {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  margin: 20px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  font-size: clamp(35px, 7vw, 50px);
}

header h2 {
  font-size: clamp(15px, 3vw, 25px);
  color: var(--cor-secundaria);
}