main {
  padding: 10px 20px 10px 20px;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

#sobre h2 {
  font-size: clamp(23px, 4vw, 30px);
}

#sobre p {
  font-size: clamp(17px, 1.5vw, 21px);
  text-align: left;
  line-height: 1.7;
  margin: 10px 0px;
  color: var(--cor-secundaria);
}

#sobre-mim {
  line-height: 1.8;
  font-size: clamp(17px, 1.5vw, 21px);
}

.accordion-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 15px;
  margin-top: 70px;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 800px;
  padding: 12px 20px;
  margin: auto;

  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--cor-secundaria);

  border: 1px solid var(--cor-fundo);
  border-radius: var(--raio-borda);

  cursor: pointer;
  transition: 0.5s ease;
}

.accordion:hover {
  background-color: var(--cor-primaria);
}

.accordion:hover p, 
.accordion:hover span {
  color: var(--cor-secundaria);
}

.accordion-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.accordion p,
.accordion span, 
.accordion-info {
  color: var(--cor-fundo);
  background-color: transparent;
}

.seta {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.accordion.active .seta {
  transform: rotate(180deg);
}

.accordion.active {
  transform: translateY(-5px);
  background-color: var(--cor-primaria);
  transition: 0.5s;
}

.accordion.active .accordion-info, 
.accordion.active .accordion-info p, 
.accordion.active span {
  color: var(--cor-secundaria);
  transition: .5s;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.content.active {
  max-height: 3000px;
}

.content p {
  color: var(--cor-secundaria);
}

#projects-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 0px 60px;

    mask-image: linear-gradient(
      to right,
      transparent,
      black 60px,
      black calc(100% - 40px),
      transparent
  );

  -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 60px,
      black calc(100% - 40px),
      transparent
  );
}

#projects-container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  min-width: 250px;
  max-width: 250px;
  height: 300px;
  flex-shrink: 0;

  border-radius: var(--raio-borda);

  background-color: var(--cor-card);

  padding: 15px;
}

.card h3, .card p, .card div, .card a {
  background-color: transparent;
}

.card h3 {
  color: var(--cor-primaria);
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
}

.card p {
  font-size: 15px;
  margin: 15px 0 15px 0;
  line-height: 1.5;
  color: var(--cor-secundaria);
}

.buttons {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons button {
  border-radius: var(--raio-borda);
  height: 30px;
  width: 70px;
  font-size: 12px;

  border: 1px solid grey;
  background-color: grey;
    color: white
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.tech-tag {
  background: var(--cor-fundo);
  color: orange;
  border: 1px solid transparent;
  padding: 3px 5px;
  border-radius: var(--raio-borda);
  font-size: 0.7rem;
  font-weight: 600;
  transition: all .2s ease;
  cursor: default;
}

.tech-tag:hover {
  transform: translateY(-2px);
}

#btn-git, #btn-deploy, #btn-doc {
  font-weight: bold;
  cursor: pointer;
  border-color: transparent;
  transition: all .3s ease;
}

#btn-git:hover , 
#btn-deploy:hover , 
#btn-doc:hover {
  transform: translateY(-2px);
}

#btn-git {
  background-color: black;
}

#btn-deploy {
  background-color: blue;
}

#btn-doc {
  background-color: var(--cor-primaria);
}

.lista-cards {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: 300px;
  padding: 0px 60px;

  mask-image: linear-gradient(
      to right,
      transparent,
      black 60px,
      black calc(100% - 40px),
      transparent
  );

  -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 60px,
      black calc(100% - 40px),
      transparent
  );
}


.lista-cards::-webkit-scrollbar {
  display: none;
}

.elemento {
  border-color: transparent;
  display: block;
  flex-direction: row;
  min-width: 250px;
  max-width: 250px;
  height: 250px;
  flex-shrink: 0;

  border-radius: var(--raio-borda);

  background-color: var(--cor-card);

  padding: 15px;
}

.elemento ul, .elemento li {
  background-color: transparent;
  color: var(--cor-secundaria);
}

.elemento h3 {
  background-color: transparent;
  color: var(--cor-primaria);
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.elemento li {
  list-style: none;
  line-height: 1.4;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-nav {
    display: none;
}


@media (min-width: 1024px) {

    .btn-nav {
        display: flex;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 50px;
        height: 50px;

        justify-content: center;
        align-items: center;

        border: none;
        border-radius: 50%;

        cursor: pointer;

        z-index: 10;
    }

    .btn-prev {
        left: 10px;
    }

    .btn-next {
        right: 10px;
    }

}

#form-contato {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding-top: 100px;
}

#form-contato h2{
    text-align: center;
    font-size: clamp(23px, 4vw, 30px);
    text-transform: uppercase;
}

#form-contato label {
  font-size: clamp(18px, 3vw, 22px);
  font-weight: bold;
}

#form-contato textarea {
  height: 150px;
}

#form-contato input, #form-contato textarea {
  border-radius: var(--raio-borda);
  background-color: var(--cor-card);
  border: transparent;
  padding: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#form-contato input:-webkit-autofill,
#form-contato textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #000070 inset;
  -webkit-text-fill-color: white;
}

#form-contato input::placeholder,
#form-contato textarea::placeholder {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#form-contato input:focus,
#form-contato textarea:focus {
  /* border: 2px solid #4f46e5; */
  outline: none;
  /* box-shadow: 0 0 10px rgba(79, 70, 229, 0.3); */
}

#form-contato p {
  text-align: center;
  justify-content: center;
  color: var(--cor-secundaria);
}

#btn-form {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

#btn-form button {
  border-radius: var(--raio-borda);
  padding: 10px;
  background: var(--cor-secundaria);
  color: black;
  font-size: clamp(10px, 4vw, 15px);
  font-weight: bold;
  width: 120px;
  border: transparent;
  transition: 0.5s ease;
}

#btn-form button:hover {
  transform: translateY(-2px);
  background: var(--cor-primaria);
  color: var(--cor-secundaria);
}
