main {
  padding: 2rem 2rem;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

#sobre h2 {
  font-size: clamp(18px, 3vw, 48px);
}

#sobre p {
  font-family: "Roboto", sans-serif;
  text-align: left;
  line-height: 1.7;
  margin: 10px 0px;
  color: var(--cor-secundaria);
}

.accordion-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 15px;
  margin-top: 30px;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 500px;
  padding: 12px 20px;
  margin: auto;

  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--cor-secundaria);

  border: 1px solid var(--cor-fundo);
  border-radius: var(--raio-borda);

  cursor: pointer;
  transition: 0.3s ease;
}

.accordion:hover {
  background-color: var(--cor-primaria);
}

.accordion-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.accordion p,
.accordion span, .accordion-info {
  color: var(--cor-fundo);
  background-color: transparent;
}

.seta {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.accordion.active .seta {
  transform: rotate(180deg);
}

.accordion.active {
  transform: translateY(-5px);
  background-color: var(--cor-primaria);
  transition: 0.3s;
}

.accordion.active .accordion-info, 
.accordion.active .accordion-info p, 
.accordion.active span {
  background-color: var(--cor-primaria);
  transition: 0.3s;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.content.active {
  max-height: 500px;
}

#projects-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
}

#projects-container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  min-width: 250px;
  max-width: 250px;
  height: 300px;
  flex-shrink: 0;

  border-radius: var(--raio-borda);

  background-color: var(--cor-primaria);

  padding: 15px;
}

.card h3, .card p, .card div, .card a {
  background-color: transparent;
}

.card h3 {
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
}

.card p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin: 15px 0 15px 0;
}

.card h3, .card p {
  color: var(--cor-fundo);
}

.buttons {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons button {
  border-radius: var(--raio-borda);
  height: 30px;
  width: 70px;
  font-size: 12px;

  border: 1px solid grey;
  background-color: grey;
    color: white
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.tech-tag {
  background: var(--cor-secundaria);
  color: var(--cor-primaria);
  border: 1px solid var(--cor-secundaria);
  padding: 3px 5px;
  border-radius: var(--raio-borda);
  font-size: 0.7rem;
  font-weight: 600;
  transition: all .2s ease;
}

.tech-tag:hover {
  transform: translateY(-2px);
}

#btn-git {
  background-color: black;
}

#btn-deploy {
  background-color: blue;
}

#btn-doc {
  background-color: orange;
}
